.HomepageBody {
	background-image: url(CR\ Fanart.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

p {
	font-weight: bold;
	color: darkgreen;
}

.homepage {
	color: white;
	padding: 5px;
}
