.cardLinksBody {
	display: grid;
	grid-column: 1;
	text-align: left;
}

.cardComponentData {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.cardDataContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.cardData {
	display: grid;
	grid-column-start: 2;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.5fr 1fr 0.5fr;
	padding: 20px;
}

.troopName {
	grid-row: 1;
	grid-column: 1 / span 2;
	color: #1d3557;
}

.pic {
	grid-row: 2;
	grid-column: 1;
}

.rightCardData {
	display: flex;
	flex-direction: column;
	grid-column: 2;
	align-items: flex-start;
	font-size: 15px;
	padding-top: 20px;
}

.description {
	grid-column: 1 / span 2;
	text-align: left;
}

p {
	color: #457b9d;
}

span {
	color: #e63946;
}

.fa-droplet {
	color: #f248f8;
}

@media (max-width: 800px) {
	.cardComponentData {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.rightCardData {
		font-size: 12px;
	}
}
