.App {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 4fr;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.App-header {
	/* background-color: #282c34; */
	font-size: 20px;
	background-color: darkseagreen;
	height: 15vh;
	grid-column: 1 / span 3;
	grid-row: 1;
}

/* .linkOne {
	grid-column: 1;
}

.linkTwo {
	grid-column: 2;
} */

/* .level-up-link {
	grid-column: 3;
	font-weight: lighter;
} */

h4 {
	font-weight: lighter;
}
.card-collections-link {
	grid-column: 2;
	font-weight: lighter;
}

.main {
	margin-top: -20px;
	grid-row: 2;
	grid-column: 2;
}

.nav-links {
	grid-column: 1 / 2;
	grid-row: 1 / span 2;
	background-color: darkseagreen;
}

.cardsData,
.expData {
	grid-row: 2;
	grid-column: 1 / 1;
}

.main {
	grid-column: 1 / span 3;
}

.routes {
	grid-row: 2;
}

.homepage {
	grid-column-start: 1;
}

.cards {
	grid-column: 1;
	grid-row: 2;
}

.cardsData {
	grid-row: 2;
}

.cardsRoute {
	grid-row-start: 1;
}

.App.main.routes {
	grid-row: 2;
}
.cards-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.HomepageBody {
	grid-column: 3;
	grid-row: 1;
}

/* .component-container {
	display: grid;
	grid-template-columns: 3;
	grid-template-rows: 1;
} */

.App-bar {
	display: grid;
	grid-template-columns: 4fr 1fr 1fr;
}

.linkOne {
	text-align: left;
}
